javascript_course/css/
javascript_course/highlight/
javascript_course/img/
javascript_course/tools
javascript_course/.DS_Store
javascript_course/*.html
javascript_course/js/.DS_Store

!javascript_course/10-exercise1.html
!javascript_course/15-exercise2.html
!javascript_course/24-exercise3.html
!javascript_course/31-exercise4.html